@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";
 
 .category-container {
    padding-top: 50px;
    padding-bottom: 50px;

    @include media-breakpoint-up(md) {
        & {
            padding-left: 25px;
        }
    }
}