@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";

.agenda-session {
  display: block;
  color: #000;
  text-decoration: none;

  h3 {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    font-weight: 700;
  }

  p {
    margin-top: 4px;
    font-size: .95em;
    line-height: 1.1em;
    font-weight: 100;
    display: block;
  }

  .speaker-thumb {
    float: left;
    padding: 0 4px 4px 0;
    height: 40px;
    max-width: 40px;
    vertical-align: middle;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }
}

.time-period {
  position: absolute;
  top: 28px;
  left: 6px;
  width: 25%;
  padding-right: 10px;
  font-size: 1.4rem;
  display: block;
  
  @include media-breakpoint-up(md) {
    display: none;
  }
}