@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";
$footer-bg: #03060b;


.app-footer {
    background-color: $footer-bg;
    padding: 40px 0;
    position: absolute;
    width: 100%;

    .footer-nav-list, .social-container {
        text-align: center;

        @include media-breakpoint-up(sm) {
            text-align: left;
        }
    }

    .footer-nav-list {
        
        li {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        a {
            color: #ffffff;
            font-weight: 700px;
            font-size: 1.8rem; 
        }
    }

    .social-container {
        
        .social-link {
            line-height: 40px;

            i {
                display: inline-block;
                background-color: #ffffff;
                color: $footer-bg;
                border-radius: 50%;
                margin-right: 10px;
                font-size: 2rem;
                line-height: 40px;
                width: 40px;
                height: 40px;
                text-align: center;
            }
        }
    }

    .logo-link {
        width: 90px;
        float: none;
        display: block;
        margin: 0 auto 30px auto;

        @include media-breakpoint-up(sm) {
            float: right;
            margin: 0;
        }
    }
}