<footer class="app-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 push-sm-8 col-lg-3 push-lg-9">
                <a class="logo-link" href="#">
                    <img class="app-logo img-fluid" src="../../assets/img/conf-logo.png">
                </a>
            </div>
            <div class="col-xs-12 col-sm-8 pull-sm-4 col-lg-9 pull-lg-3">
                <nav class="footer-nav">
                    <ul class="footer-nav-list list-inline">
                        <li class="list-inline-item"><a href="#" title="">Code of conduct</a></li>
                        <li class="list-inline-item"><a href="#" title="">Terms & Condition</a></li>
                    </ul>
                </nav>
                <div class="social-container">
                    <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-link"><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>