@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/variables";

$primary-header-color: #ffffff;
$btn-more-bg: #158fcf;
$about-bg: #ffffff;
$speakers-bg: #e9eef0;
$news-bg: #03060b;
$cfp-bg: #eeeeee;
$partners-bg: #ffffff;
$post-bg: #e9eef0;
$post-title-color: #085877;
$post-date-color: #085877;

.app-header {
    background-image: url(../../assets/img/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    // margin-top: calc(70px + 1rem);
    padding: calc(70px + 1rem) 0;
    color: $primary-header-color;
    height: 100vh;
    max-height: 800px;

    .header-container {
        text-align: center;
        margin-top: 180px;

        @include media-breakpoint-up(sm) {
            text-align: left;
        }

        .app-title {
            font-size: 5.2rem;
            font-weight: 700;
            margin-bottom: 10px;

            @include media-breakpoint-up(sm) {
                font-size: 6rem;
            }
        }

        .app-description {
            font-size: 2rem;
            margin-bottom: 40px;
        }
    }
}

.btn-more {
    background-color: $btn-more-bg;
    width: 250px;
    height: 60px;
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: $primary-header-color;
}

.app-about {
    color: #000000;
    text-align: center;
    background-color: $about-bg;

    .col-about {
        margin-top: 50px;
        
        .conf-date {
            font-size: 2rem;
            margin-bottom: 10px;
            font-weight: 700;
        }

    }
}

.app-speakers {
    background-color: $speakers-bg;
    text-align: center;

    .btn-more {
        margin-top: 50px;
    }
}

.app-news {
    background-color: $news-bg;

    .post {
        background-color: $post-bg;
        padding: 25px;
        margin-bottom: 25px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }
    }

    .post-title {
        font-size: 2.3rem;
        padding-bottom: 5px;
        margin: 0;

        a {
            color: $post-title-color;
        }
    }

    .post-date {
        text-transform: uppercase;
        font-size: 1.2rem;
        margin-bottom: 15px;
        color: $post-date-color;
        display: block;
    }

    .post-more {
        text-decoration: underline;
        color: $post-title-color;
    }
}

.app-cfp {
    background-color: $cfp-bg;
    text-align: center;   
}

.app-partners {
    background-color: $partners-bg;

    .btn-more {
        margin-top: 50px;
    }

}